body {
  padding: 1em;
}

div.ng-view * {
  box-sizing: border-box;
}

de-profile-results main {
  display: block;
  max-height: 7.9em;
  max-width: 30em;
  overflow-y: scroll;
}

de-profile-results img {
  max-width: 250px;
}

.-c {
  display: flex;
  flex-direction: column;
}

.-r {
  display: flex;
  flex-direction: row;
}

.spread-out {
  justify-content: space-between;
}

.x-center {
  justify-content: center;
}

.y-center {
  align-items: center;
}

.-center-content {
  align-content: center;
}

.-right {
  align-items: flex-end;
}
