<header id='heading' class='-r spread-out'>
  <a data-users='all'>All</a>
  <a data-users='popular'>Popular</a>
  <a data-users='matches'>Matches</a>
  <a data-users='proximal'>Close By</a>
  <a data-users='chats'> Chats </a>
</header>

<section id='all' ng-class='ng-hide'>
  <h2>All Members</h2>
  <div class='-c'>
      <section ng-repeat='obj in user.all'>
        <div class='-r y-center'>
          <aside>
            <p><img src={{obj.avatar}} /></p>
          </aside>
          <main class='-c'>
            <p>{{obj.username}}</p>
            <p>{{obj.description}}</p>
          </main>
          <button ng-click='user.favorite(obj._id, user.id)'>Favorite</button>
          <button ng-click='user.unfavorite(obj._id, user.id)'>Unfavorite</button>
        </div>
      </section>
  </div>
</section>

<section id='popular' class='ng-hide'>
  <h2>Popular</h2>
  <div ng-repeat='profile in user.popular'>
    {{profile}}
  </div>
</section>
<section id='matches' class='ng-hide'>
  <h2>Your Matches</h2>
  <div ng-repeat='user in user.my_matches'>
    {{user}}
  </div>
</section>
<section id='proximal' class='ng-hide'>
  <h2>Near By</h2>
</section>
<section id='chats' class='ng-hide'>
  <h2>Chats</h2>
</section>
