<section>

        <select ng-model='edit.user.company.name'>

            <option type='checkbox' value='Margherita' /> Margherita </option>
            <option type='checkbox' value='Hawaiian' /> Hawaiian </option>
            <option type='checkbox' value='BBQ chicken' /> BBQ chicken </option>
            <option type='checkbox' value='Pepperoni' /> Pepperoni </option>
            <option type='checkbox' value='Cheese' /> Cheese </option>
            <option type='checkbox' value='Mexican' /> Mexican </option>
            <option type='checkbox' value='Vegitarian' /> Vegitarian </option>
            <option type='checkbox' value='Sausage' /> Sausage </option>
            <option type='checkbox' value='Meat Lovers' /> Meat Lovers </option>
            <option type='checkbox' value='Seafood' /> Seafood </option>
            <option type='text' value ='Custom'/> Custom </option>

        </select>

</section>


<section>

        <label> Do you like cold pizza? </label>
        <input type='checkbox' value=0 />

        <label> Can you make a good pizza yourself? </label>
        <input type='checkbox' value=1 />

        <label> Do you enjoy non-pie pizzas? </label>
        <input type='checkbox' value=2 />

        <label> Is pineapple on your pizza a good thing? </label>
        <input type='checkbox' value=3 />

</section>


<section>

        <label> About Me and Pizza </label>
        <textarea ng-model='edit.user.description' ></textarea>

</section>


<section>

        <label> Add a Photo </label>
        <input type='text' ng-model='edit.user.avatar'/>

</section>


<section>

        <label>Birthday</label>
        <input type='date'  />

</section>


<section>

        <

</section>
