<aside ng-if='user.error'>
  <p>
    {{user.error}}
  </p>
</aside>

<form class='-c' ng-submit='user.signup(user.reg)'>
  <label>Username</label>
  <input type='text' ng-model='user.reg.username' required/>

  <label>Email</label>
  <input type='email' ng-model='user.reg.email' required/>

  <label>Password</label>
  <input type='password' ng-model='user.reg.password' required/>

  <label>First Name</label>
  <input type='text' ng-model='user.reg.names.firstName' required/>

  <label>Birthday</label>
  <input type='date' ng-model='user.reg.dob' required/>

  <label>Your Url</label>
  <input type='text' placeholder='PizzaDating.com/[your profile]' ng-model='user.reg.slug' required/>

  <label>Zipcode</label>
  <input type='number' ng-model='user.reg.address.zipcode' required/>

  <input type='submit' />
</form>
